#editor{
	font-size: 20px;
	padding: 5px;
}

#dbEditor{
	width:100%;
}

#db_results{
	margin-top:10px;
	width:100%;
	border-top:1px black solid;
	border-left:1px black solid;
	border-collapse: 0px;
}

#db_results td{
	border-right: 1px black solid;
	border-bottom: 1px black solid;
	padding: 5px;
	text-align: center;
}

#db_results td.row{
	border-right: 1px black solid;
	border-bottom: 1px black solid;
	padding: 5px;
	text-align: center;
	background:#666;
	width:5%;
}

#db_results th{
	border-bottom: 1px black solid;
	border-right: 1px black solid;
	background: #AAA;
}

#db_results th.row{
	border-bottom: 1px black solid;
	border-right: 1px black solid;
	background:#888;
}

#errors{
	color:red;
	font-size:20px;
}

#go{
	font: bold 18px Verdana;
	padding: 8px;
}